-sale_1 = '3 000р.'
-sale_2 = '6 000р.'
-sale_3 = '9 000р.'

-today_1 = '12 900р.'
-today_2 = '21 000р.'
-today_3 = '31 900р.'

-link_1 = 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=96&clean=true&lg=ru'
-link_2 = 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=102&clean=true&lg=ru'
-link_3 = 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=108&clean=true&lg=ru'

-prepayment_link = 'https://shop.mv-centr.ru/?r=ordering/cart/as1&id=114&clean=true&lg=ru'

section#prices
	.container
		.packets
			.row
				.col-md-4.col-sm-4
					.packet.paket-1
						.packet-head
							h4.packet-head-title
								small пакет
								| "Серебро"
						.packet-body
							p.packet-body-text Атты
							a.more-button(href="#Modal-1") подробнее
						.packet-footer
							p.cost-full Стоимость:
								span 15 900р.
							p.cost-sale Скидка: 
								span#sale-1=sale_1
							p.cost-today Стоимость сегодня:
								span#today-1=today_1
							+b('',link_1,'Выбрать', '_blank')
				.col-md-4.col-sm-4
					.packet.paket-2
						.packet-head
							h4.packet-head-title
								small пакет
								| "Золото"
						.packet-body
							p.packet-body-text ВСЁ, что входит в пакет "СЕРЕБРО"
								br
								| +
								br
								| Активация видения. Сборка Личности. Высшее Я
							a.more-button(href="#Modal-2") подробнее
						.packet-footer
							p.cost-full Стоимость:
								span 27 900р.
							p.cost-sale Скидка: 
								span#sale-2=sale_2
							p.cost-today Стоимость сегодня:
								span#today-2=today_2
							+b('',link_2,'Выбрать', '_blank')
				.col-md-4.col-sm-4
					.packet.paket-3
						.packet-head
							h4.packet-head-title
								small пакет
								| "Платина"
						.packet-body
							p.packet-body-text ВСЁ, что входит в пакеты "СЕРЕБРО" и "ЗОЛОТО"
								br
								| +
								br
								| Руническая мантика
							a.more-button(href="#Modal-3") подробнее
						.packet-footer
							p.cost-full Стоимость:
								span 40 900р.
							p.cost-sale Скидка: 
								span#sale-3=sale_3
							p.cost-today Стоимость сегодня:
								span#today-3=today_3
							+b('',link_3,'Выбрать', '_blank')
		.prepayment
			h4.prepayment-title Акция!
			p.prepayment-text Платите 1 000р., бонусом получаете 1 000р.
				br
				| На счет зачисляется 2 000р.
			+b('',prepayment_link,'Оплатить 1 000р.','_blank')